<div id="<%= dom_id categorium %>">
  <p>
    <strong>Nombre categoria:</strong>
    <%= categorium.nombre_categoria %>
  </p>

  <p>
    <strong>Descripcion categoria:</strong>
    <%= categorium.descripcion_categoria %>
  </p>

</div>
