<div id="<%= dom_id detalle_ventum %>">
  <p>
    <strong>Precio total:</strong>
    <%= detalle_ventum.precio_total %>
  </p>

  <p>
    <strong>Cantidad:</strong>
    <%= detalle_ventum.cantidad %>
  </p>

</div>
