<h1>Editing detalle ventum</h1>

<%= render "form", detalle_ventum: @detalle_ventum %>

<br>

<div>
  <%= link_to "Show this detalle ventum", @detalle_ventum %> |
  <%= link_to "Back to detalle venta", detalle_venta_path %>
</div>
